@page
@model FuneralOfficeSystem.Pages.BurialPlaces.DeleteModel
@{
    ViewData["Title"] = "Απενεργοποίηση Κοιμητηρίου";
}

<div class="container">
    <h1 class="text-center mb-4">Απενεργοποίηση Κοιμητηρίου</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <div class="alert alert-warning">
                        <h4 class="alert-heading">Είστε βέβαιοι ότι θέλετε να απενεργοποιήσετε αυτό το κοιμητήριο;</h4>
                        <p>Το κοιμητήριο θα οριστεί ως ανενεργό και δεν θα εμφανίζεται στις κύριες λίστες.</p>
                    </div>

                    <div class="table-responsive mt-4">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th style="width: 30%;">
                                        Όνομα
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.BurialPlace.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Κατάσταση
                                    </th>
                                    <td>
                                        @if (Model.BurialPlace.IsEnabled)
                                        {
                                            <span class="badge bg-success">Ενεργό</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-danger">Ανενεργό</span>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <form method="post" class="mt-4">
                        <input type="hidden" asp-for="BurialPlace.Id" />
                        <div class="row">
                            <div class="col-md-6">
                                <a asp-page="./Index" class="btn btn-secondary w-100">Επιστροφή στη Λίστα</a>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" value="Απενεργοποίηση" class="btn btn-warning w-100" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>